In [11]:
import pandas as pd
gen_exp = pd.read_csv('Prostrate_gene_expression.txt', header = None, sep = '\t')
gen_exp.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,Hs6-1-6-1,VHL,-0.009053,0.036120,-0.13310,0.08359,-0.3133,0.09471,-0.19860,0.1129,...,-0.19410,-0.109500,-0.16090,-2.267000e-01,-0.06939,-0.22780,-0.317900,-0.3523,-0.2771,NaN
1,Hs6-1-16-1,SMOX,0.000000,0.000000,0.00000,0.11160,0.0000,0.00000,0.00000,0.0000,...,0.00000,0.000000,0.17460,-5.180000e-10,0.00000,0.00000,0.000000,-0.3898,-0.1275,NaN
2,Hs6-1-6-2,ZNF148,0.189100,-0.175300,0.20240,0.05745,-0.5522,-0.04709,-0.19840,-0.2156,...,-0.18470,0.007602,0.02113,4.399000e-01,-0.06516,0.01167,0.304800,0.3409,-0.1266,NaN
3,Hs6-1-10-2,MAP4K2,0.335300,0.145700,0.02996,-0.03641,-0.2931,0.23760,-0.01799,0.1953,...,-0.25550,0.255800,-0.08655,3.707000e-02,0.03404,0.13550,-0.008265,0.1549,0.4213,NaN
4,Hs6-1-15-2,MAPK4,0.310600,0.008775,0.51170,-0.05886,-0.5037,0.36220,0.24620,0.4525,...,-0.04517,0.493200,-0.22720,-1.430000e-01,0.26500,0.14160,0.334100,0.3155,0.5046,NaN

In [37]:
gen_exp = gen_exp.drop(0, 1)
gen_exp.index = gen_exp[1]
gen_exp.head()

,1,2,3,4,5,6,7,8,9,10,...,97,98,99,100,101,102,103,104,105,106
1,,,,,,,,,,,,,,,,,,,,,
VHL,VHL,-0.009053,0.036120,-0.13310,0.08359,-0.3133,0.09471,-0.19860,0.1129,-0.075430,...,-0.19410,-0.109500,-0.16090,-2.267000e-01,-0.06939,-0.22780,-0.317900,-0.3523,-0.2771,NaN
SMOX,SMOX,0.000000,0.000000,0.00000,0.11160,0.0000,0.00000,0.00000,0.0000,0.000000,...,0.00000,0.000000,0.17460,-5.180000e-10,0.00000,0.00000,0.000000,-0.3898,-0.1275,NaN
ZNF148,ZNF148,0.189100,-0.175300,0.20240,0.05745,-0.5522,-0.04709,-0.19840,-0.2156,0.005864,...,-0.18470,0.007602,0.02113,4.399000e-01,-0.06516,0.01167,0.304800,0.3409,-0.1266,NaN
MAP4K2,MAP4K2,0.335300,0.145700,0.02996,-0.03641,-0.2931,0.23760,-0.01799,0.1953,0.134800,...,-0.25550,0.255800,-0.08655,3.707000e-02,0.03404,0.13550,-0.008265,0.1549,0.4213,NaN
MAPK4,MAPK4,0.310600,0.008775,0.51170,-0.05886,-0.5037,0.36220,0.24620,0.4525,-0.115600,...,-0.04517,0.493200,-0.22720,-1.430000e-01,0.26500,0.14160,0.334100,0.3155,0.5046,NaN

In [38]:
gen_exp = gen_exp.drop(1, 1)
gen_exp.head()

,2,3,4,5,6,7,8,9,10,11,...,97,98,99,100,101,102,103,104,105,106
1,,,,,,,,,,,,,,,,,,,,,
VHL,-0.009053,0.036120,-0.13310,0.08359,-0.3133,0.09471,-0.19860,0.1129,-0.075430,-0.16520,...,-0.19410,-0.109500,-0.16090,-2.267000e-01,-0.06939,-0.22780,-0.317900,-0.3523,-0.2771,NaN
SMOX,0.000000,0.000000,0.00000,0.11160,0.0000,0.00000,0.00000,0.0000,0.000000,0.00000,...,0.00000,0.000000,0.17460,-5.180000e-10,0.00000,0.00000,0.000000,-0.3898,-0.1275,NaN
ZNF148,0.189100,-0.175300,0.20240,0.05745,-0.5522,-0.04709,-0.19840,-0.2156,0.005864,0.03351,...,-0.18470,0.007602,0.02113,4.399000e-01,-0.06516,0.01167,0.304800,0.3409,-0.1266,NaN
MAP4K2,0.335300,0.145700,0.02996,-0.03641,-0.2931,0.23760,-0.01799,0.1953,0.134800,0.17190,...,-0.25550,0.255800,-0.08655,3.707000e-02,0.03404,0.13550,-0.008265,0.1549,0.4213,NaN
MAPK4,0.310600,0.008775,0.51170,-0.05886,-0.5037,0.36220,0.24620,0.4525,-0.115600,0.09342,...,-0.04517,0.493200,-0.22720,-1.430000e-01,0.26500,0.14160,0.334100,0.3155,0.5046,NaN

In [42]:
gen_exp.index = gen_exp.index.str.lower()
gen_exp.head()

,2,3,4,5,6,7,8,9,10,11,...,97,98,99,100,101,102,103,104,105,106
1,,,,,,,,,,,,,,,,,,,,,
vhl,-0.009053,0.036120,-0.13310,0.08359,-0.3133,0.09471,-0.19860,0.1129,-0.075430,-0.16520,...,-0.19410,-0.109500,-0.16090,-2.267000e-01,-0.06939,-0.22780,-0.317900,-0.3523,-0.2771,NaN
smox,0.000000,0.000000,0.00000,0.11160,0.0000,0.00000,0.00000,0.0000,0.000000,0.00000,...,0.00000,0.000000,0.17460,-5.180000e-10,0.00000,0.00000,0.000000,-0.3898,-0.1275,NaN
znf148,0.189100,-0.175300,0.20240,0.05745,-0.5522,-0.04709,-0.19840,-0.2156,0.005864,0.03351,...,-0.18470,0.007602,0.02113,4.399000e-01,-0.06516,0.01167,0.304800,0.3409,-0.1266,NaN
map4k2,0.335300,0.145700,0.02996,-0.03641,-0.2931,0.23760,-0.01799,0.1953,0.134800,0.17190,...,-0.25550,0.255800,-0.08655,3.707000e-02,0.03404,0.13550,-0.008265,0.1549,0.4213,NaN
mapk4,0.310600,0.008775,0.51170,-0.05886,-0.5037,0.36220,0.24620,0.4525,-0.115600,0.09342,...,-0.04517,0.493200,-0.22720,-1.430000e-01,0.26500,0.14160,0.334100,0.3155,0.5046,NaN

In [35]:
gen_seq = pd.read_csv('Prostrate_sequence.csv')
gen_seq.head()

   Unnamed: 0   gene                                           sequence
0           0   aacs  GGCCTGCGGGGCGGGGCCTGGGCCAAGCGGCCCGCAGGAGGCGGCG...
1           1  aagab  AACGGTTTTAGAGTTTTCCCAGAGGCAGAAAGTCCTGCTTCTGGGG...
2           2  abca5  TTTCTAGGAGCCCCGCCCTCAGGTGCGCTCTGCAGGAGGCGGGGCG...
3           3  abca8  ATAACCTCCACTCTGAAAGCAGTCTTCACAGAAACTTTTCACAGAA...
4           4  abce1  AAGCCGTGTCGGCACCAGACTCTGTTGGTCCTACTGACACCTCCAG...

In [45]:
valid_ids = list(gen_exp.index)

In [48]:
gen_seq = gen_seq.loc[gen_seq['gene'].isin(valid_ids)]

In [49]:
gen_seq.head()

   Unnamed: 0   gene                                           sequence
0           0   aacs  GGCCTGCGGGGCGGGGCCTGGGCCAAGCGGCCCGCAGGAGGCGGCG...
1           1  aagab  AACGGTTTTAGAGTTTTCCCAGAGGCAGAAAGTCCTGCTTCTGGGG...
2           2  abca5  TTTCTAGGAGCCCCGCCCTCAGGTGCGCTCTGCAGGAGGCGGGGCG...
3           3  abca8  ATAACCTCCACTCTGAAAGCAGTCTTCACAGAAACTTTTCACAGAA...
4           4  abce1  AAGCCGTGTCGGCACCAGACTCTGTTGGTCCTACTGACACCTCCAG...

In [52]:
gen_seq.shape

(1656, 3)

In [53]:
gen_exp.shape

(2424, 105)

In [56]:
gen_exp[gen_exp.index == 'aacs']

,2,3,4,5,6,7,8,9,10,11,...,97,98,99,100,101,102,103,104,105,106
1,,,,,,,,,,,,,,,,,,,,,
aacs,-0.1604,0.04853,0.1923,0.3277,-0.2677,0.1726,-0.3199,-0.1729,0.3147,0.03395,...,-0.03421,-0.1212,-0.3593,0.06677,0.01958,-0.07991,-0.1967,-0.3807,-0.2959,NaN

In [60]:
gen_exp = gen_exp.sort_index()
gen_exp.head()

,2,3,4,5,6,7,8,9,10,11,...,97,98,99,100,101,102,103,104,105,106
1,,,,,,,,,,,,,,,,,,,,,
aacs,-0.16040,0.048530,0.192300,0.32770,-0.26770,0.1726,-0.31990,-0.172900,0.314700,0.03395,...,-0.034210,-0.12120,-0.359300,0.06677,0.01958,-0.07991,-0.19670,-0.380700,-0.2959,NaN
aagab,0.29920,-0.004716,-0.099540,0.08183,-0.04830,0.2533,0.00000,-0.085590,0.004717,0.15910,...,-0.298700,-0.22640,-0.411600,0.07871,0.00000,-0.18440,-0.15860,0.114300,-0.2784,NaN
abca5,-0.17610,0.040310,0.006575,-0.18040,0.15880,0.1733,0.10310,0.005472,0.000000,-0.12560,...,-0.005352,0.02855,0.000000,0.08634,-0.31740,0.55040,0.00000,0.000000,-0.2062,NaN
abca8,0.00000,0.000000,0.000000,-0.12710,-0.04571,0.1123,0.00000,0.569800,0.000000,-0.01770,...,0.000000,0.00000,0.004525,0.00000,0.00000,0.00000,0.00000,0.000000,0.1294,NaN
abce1,0.02153,0.192300,-0.159400,0.33860,0.32120,0.2989,0.07989,-0.317500,0.240000,-0.09352,...,0.030010,-0.08457,0.410600,0.19340,-0.21830,0.01400,-0.06649,-0.005025,-0.2455,NaN

In [61]:
gen_exp.to_csv('prostate/gene_expression.csv')

In [62]:
gen_seq.to_csv('prostate/gene_sequence.csv')